.destaques {
    background-color: var(--azul-claro);
    padding-top     : 2.5rem;
    padding-bottom  : 2rem;
}

.destaques__titulo {
    color         : var(--cinza-escuro);
    font-weight   : 700;
    font-size     : 1.5rem;
    font-family   : (--montserrat);
    text-transform: uppercase;
    text-align    : center;

    margin-bottom: 2rem;
}

.destaques__links {
    display       : flex;
    flex-direction: row;
}

.secaoDestaques-link {
    text-align: center;
}

.destaques__painel {
    display       : flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items   : center;
    margin-bottom : 2rem;
}

.destaques__painel-imagem {
    max-width : 90%;
    box-shadow: 0 2px 10px 5px #00000020;
    margin    : .5rem;
}

.destaques__painel-imagem:hover,
.destaques__painel-imagem:focus {
    border       : 1px solid var(--vermelho-forte);
    cursor       : pointer;
    border-radius: 8px;
    box-shadow   : 0 2px 5px rgba(0, 0, 0, .3);
    outline      : 0;
}

.destaques__painel-texto {
    font-weight: 700;
    font-size  : 1.2rem;
    line-height: normal;
}

.destaques__botao {
    color       : var(--vermelho-forte);
    border-color: var(--vermelho-forte);
    margin      : 0 auto;
}


@media screen and (max-width:1024px) {

    .destaques__links {
        flex-direction: column;
    }

    .destaques__painel-imagem {
        max-width : 100%;
    }
        
}